/* .record {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
} */

body {
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 10px;
}

.record {
    display: flex;
    align-items: center;
    border-bottom: solid 1px gray;
    padding: 5px;
    /* min-width: 800px; */
}

.record:hover {
    background: rgba(0,0,0,.05);
}

.record-col {
    white-space: pre-wrap;
    flex: 0 1 25%;
    padding: 5px;
}

.record-col.sphone {
    flex-basis: 13%;
}

.record-col.ctime {
    background: rgba(0, 174, 255, 0.1);
}

.record-col.sname {
    background: rgba(255, 208, 0, 0.1);
}

.record-col.squestion1 {
    background: rgba(0, 255, 0, .1);
}

.record-col.squestion1, .record-col.squestion2 {
    flex-basis: 40%;
}

.record-col.squestion1.empty {
    background: none;
}

.btn.inline {
    display: inline-block;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    .record {
        flex-flow: row wrap;
    }
    .record-col.squestion1, .record-col.squestion2 {
        flex-basis: 100%;
    }
    .record-col.squestion1.empty {
        display: none;
    }
}