/* .record {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border-radius: 10px;
} */

body {
    margin: 0;
    line-height: 1.5;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 10px;
    line-height: 1;
}

.record {
    display: grid;
    align-items: start;
    border-bottom: solid 1px gray;
    grid-template-rows: auto;
    grid-template-columns: 10em 10em 10em 15em 1fr 1fr;
    grid-template-areas: "time name qq email q1 q2";
}

.record:hover {
    background: rgba(0,0,0,.05);
}

.record-col {
    white-space: pre-wrap;
    padding: 5px;
}

.record-col.time {
    background: rgba(0, 174, 255, 0.1);
    grid-area: time;
}

.record-col.name {
    background: rgba(255, 208, 0, 0.1);
    grid-area: name;
}

.record-col.qq {
    flex-basis: 13%;
    grid-area: qq;
}

.record-col.email {
    flex-basis: 15%;
    grid-area: email;
}

.record-col.q1 {
    grid-area: q1;
}

.record-col.q2 {
    background: rgba(0, 255, 0, .1);
    grid-area: q2;
}

.record-col.q2.empty {
    background: none;
}

.btn.inline {
    display: inline-block;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    .record {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        "time time name name qq qq"
        "time time name name email email"
        "q1 q1 q1 q2 q2 q2"
        ;
    }
    .record-col.q2.empty {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .record {
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-areas:
        "time name qq"
        "time name email"
        "q1 q1 q1"
        "q2 q2 q2";
    }
}